* {
    box-sizing: border-box;
  }
  
  .form {
      background-color: #005E6A59;
      border-radius: 20px;
      box-sizing: border-box;
      height: 500px;
      padding: 20px;
      width: 320px;
    }
    
    .title {
      color: #FFFFFF;
      font-family: sans-serif;
      font-size: 36px;
      font-weight: 600;
      margin-top: 30px; 
    }
    
    .subtitle {
      color: #FFFFFF;
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 600;
      margin-top: 10px;
    }
    
    .input-container {
      height: 50px;
      position: relative;
      width: 100%;
    }
    
    .ic1 {
      margin-top: 40px;
    }
    
    .ic2 {
      margin-top: 30px;
    }
    
    .input {
      background-color: #FFFFFF;
      border-radius: 12px;
      border: 0;
      box-sizing: border-box;
      color: #A0A0A0;
      font-size: 18px;
      height: 100%;
      outline: 0;
      padding: 4px 20px 0;
      width: 100%;
    }
    
    .cut {
      background-color: #FFFFFF;
      border-radius: 10px;
      height: 20px;
      left: 20px;
      position: absolute;
      top: -20px;
      transform: translateY(0);
      transition: transform 200ms;
      width: 76px;
    }
    
    .cut-short {
      width: 50px;
    }
    
    .iLabel {
      color: #FFFFFF;
      font-family: sans-serif;
      left: 20px;
      line-height: 14px;
      pointer-events: none;
      position: absolute;
      transform-origin: 0 50%;
      transition: transform 200ms, color 200ms;
      top: 20px;
    }
    
    .input:focus ~ .cut {
      transform: translateY(8px);
    }
    
    .input:focus ~ .iLabel {
      transform: translateY(-30px) translateX(10px) scale(0.75);
    }
    
    .input:not(:focus) ~ .iLabel {
      color: #FFF;
    }
    
    .input:focus ~ .iLabel {
      color: #F2712B;
    }
    
    .submit {
      background-color: #F2712B;
      border-radius: 12px;
      border: 0;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 18px;
      height: 50px;
      margin-top: 38px;
      text-align: center;
      width: 100%;
    }
    
    .submit:active {
      background-color: #F2712B;
    }
    
   